/*navbar*/
.dashboard{
  padding-top:5px;
}
.nav li{
  margin-right: 20px;
  padding-top:10px;
}
.nav li a{
  color:black;
}

.page
{
    background:#fff;
    border-radius:1em;
    margin:1em;
    min-height:500px;
    padding:1em;
}

.page-header{
  margin-top:20px;
}


/*footer*/
footer{
  color: white;
  padding: 30px;
  bottom:0;
  width: 100%;
  position:relative;
}

/*home*/
.icon-home{
  color:#665;
  font-size: 60px;
  margin:20px;
}

.btn-home-admin{
  font-size:25px;
}
