
.card{
 padding-top: 15px;
}
.badge-precio{
  margin:30px;
  border-style: solid;
  border-width: 2px;
  border-color: green;
}

/*Detalle producto*/
.page-header{
  margin:40px;
}
.producto-bloque{
  border-radius: 1em;
  padding: 3em;
  margin:1em;
}

/*footer*/
footer{
  color: white;
  padding: 30px;
  bottom:0;
  width: 100%;
  position:relative;
}

.footer-redes{
  padding-top: 20px;
}
ul.footer-logos{
  padding-left: 0px;
}
ul.footer-logos li{
  display: inline-block;
  margin: 0px 7px;
  text-align: center;
}

ul.footer-logos li a{
  color:white;

}

/*Carrito*/
.table-carrito{
  background: #fff;
  border-radius: 1em;
  margin-bottom: 30px;
  padding:1em;
}

.table-carrito img{
  width:50px;
}
